/* home section styles */
.navigation {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: linear-gradient(90 degree, rgba(233, 162, 212, 0.05));
    height: 200px;
    justify-content: space-around;
}

.page-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
}

/* .nav-bar {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;

} */

.nav-bar li,
a {
    display: inline flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    text-decoration: none;
    padding-right: 10px;
    color: #914a59;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
}

.home {
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-info {
    width: 50%;
}

.home-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
}

.home-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.home-pic {
    width: 635px;
    height: 800px;
    /* padding: 50px 240px 4017px 1045px; */
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: white;
    gap: 10px;
}


/* featured flower section styles */
.featured flower {
    margin-top: 50px;
    margin-bottom: 50px;
}

.feature-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.feature-pics {
    display: inline flex;
    justify-content: center;
    width: 464px;
    height: 538px;
    padding: 10px;
    gap: 10px;
    width: 100%;


}

.feature-pic-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

#feature-pic-1 {
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background: url('../Flower Asset/pngwing\ 6.png'), lightgray 50% / cover no-repeat;

}

#feature-pic-2 {
    width: 370px;
    height: 370px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

#feature-pic-3 {
    width: 314px;
    height: 471px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

/* delivery section styles */
.delivery {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 86px;
    gap: 60px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    margin-top: 50px;

}

.delivery-man {
    width: 88px;
    height: 88px;

}

.delivery-tile {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

.deliver-info {
    display: block;
    text-align: center;
    align-items: center;

}

/* hot deal section styles */
.hot-deal {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
    margin-top: 50px;
}

.hot-deal-info {
    text-align: center;
    padding: 100px;
    width: 50%;
}

.hot-deal-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.hot-deal-off {

    color: #E55473;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.hot-deal-pic {
    width: 318px;
    height: 420px;
    padding-top: 100px 429px 100px 1175px;
    /* padding-bottom: 100px; */
}

/* instagram section styles */
.instagram-info {
    text-align: center;
    margin-top: 50px;
}

.instagram-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.instagram-pics {
    display: flex;
    justify-content: center;
    gap: 10px;

}

/* latest deal styles */
.latest-deal {

    width: 1440px;
    height: 449px;
    border-radius: 8px;
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    margin-top: 50px;
    margin-left: 240px;

}

.latest-deal-info {

    text-align: center;
}

.latest-deal-title {
    padding-top: 50px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.latest-deal-description {
    padding: 20px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.form {
    display: flex;
    gap: 10px;
    justify-content: center;
    /* align-items: center; */
}

.email {
    color: rgba(39, 39, 39, 0.60);
    /* text-align: center; */
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
}

/* footer styles */
.footer {
    margin-top: 50px;
    width: 1922px;
    height: 449px;
    background: #111010;
}

.footer-info {
    text-align: center;
    padding-top: 5%;
}

.footer-title {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}