/* home section styles */
.home {
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-info {
    width: 50%;
}

.home-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
}

.home-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.home-pic {
    width: 635px;
    height: 800px;
    /* padding: 50px 240px 4017px 1045px; */
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: white;
    gap: 10px;
}

/* featured flower section styles */
.feature-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.feature-pics {
    display: inline flex;
    justify-content: center;

}

#feature-pic-1 {
    /* border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15); */
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}